= form_for [:admin, @event] do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg


  = f.fields_for :photo_attributes do |form|
    .field
      = form.label :image
      = form.file_field :image 

  .field
    = f.label :photos
    = f.file_field :photos, :multiple => true   

  .field
    = f.label :category
    = f.select :category, [["Exposicion", "Exposition"], ["Pop-up", "Popup"]]
              

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :summary
    = f.text_area :summary
  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :stop
    = f.datetime_select :stop

  .field
    = f.label :place
    = f.text_field :place
  .actions
    = f.submit 'Save'
