- content_for :breadcrumbs do
  %h1 All Events
  %p 
    Estas aquí: 
    = link_to "Admin", admin_path 
    >
    Events

#links
  = link_to 'New Event', new_admin_event_path

%table
  %tr
    %th Category
    %th Name
    %th Summary
    %th Start
    %th Stop
    %th Place
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.category
      %td= event.name
      %td= event.short_summary(50)
      %td= event.start
      %td= event.stop
      %td= event.place
      %td= link_to 'Show', admin_event_path(event)
      %td= link_to 'Edit', edit_admin_event_path(event)
      %td= link_to 'Destroy',[:admin, event], :method => :delete, :data => { :confirm => 'Are you sure?' }