- content_for :breadcrumbs do
  %h1= @event.name
  %p 
    Estas aquí: 
    = link_to "Admin", admin_path 
    >
    = link_to "Events", admin_events_path
    >
    = @event.name


#links
  = link_to "Back", admin_events_path
  |
  = link_to "Edit", edit_admin_event_path(@event)
  |
  = link_to "Destroy", [:admin, @event], method: :delete, confirm: "Are you sure?"

.info_event.clearfix
  - if @event.photo
    = image_tag @event.photo.image.url(:medium)
  - else
    %img{:src => "http://placehold.it/200x200"}
  
  .bio
    %h2= @event.name
    %p= @event.summary
    %hr/ 
    %table 
      - @photos.each do |photo|
        %tr
          %td
            = image_tag photo.image.url(:thumb) 
          %td 
            = link_to "Destroy", admin_photo_path(photo), method: :delete, confirm: "Are you sure"  
    %hr/           
