- content_for :breadcrumbs do
  %h1 All Events
  %p 
    Estas aquí: 
    = link_to "Admin", admin_path 
    >
    = link_to "Events", admin_events_path
    >
    Tag:
    = @tag.capitalize

#links
  = link_to 'New Event', new_admin_event_path

= render :partial => "list"