- content_for(:breadcrumbs) do
  %h1 Artistas
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Artistas



%ul#filter_menu.clearfix
  
  %li.active
    = link_to "All", "#", :class => 'all'
    |
  - @letter.each do |letter|
    %li
      = link_to letter.upcase, "#", :class => letter
      |




#all_items.clearfix  
  
  %ul.items{'data-type' => 'all' }
    - @artists.each_with_index do |artist, index|
      %li.item{'data-id' => "id-" + (index + 1).to_s, 'data-type' => artist.name.first.downcase }
        - if artist.photo
          = image_tag artist.photo.image.url(:thumb300), width: 200 if artist.photo
        - else
          %img{:src => "http://placehold.it/200x200"}
      
        .info
          %h4= link_to artist.name, artist
          %p= artist.short_bio
          =link_to "[...]", artist