- content_for :breadcrumbs do
  %h1= @artist.name
  %p
    Estas aquí:
    = link_to "Home", root_path
    >
    = link_to "Artists", artists_path
    >
    = @artist.name



.info_artist.clearfix
  - if @artist.photo
    = image_tag @artist.photo.image.url(:medium)
  - else
    %img{:src => "http://placehold.it/200x200"}
  
  .bio
    %h2= @artist.name
    %p= @artist.bio
    %hr/
    .paintings.clearfix
      %h3 Obra
      - @paintings.in_groups_of(6, false) do |painting|
        .list_of_paintings
          - painting.each do |p|
            - next unless p.photo
            %a.gallery{:href => p.photo.image.url(:large)}
              = image_tag p.photo.image.url(:thumb)
    %hr/ 
