- content_for :breadcrumbs do
  %h1= @artist.name
  %p 
    Estas aquí: 
    = link_to "Home", root_path 
    > 
    = link_to "Artists", artists_path
    > 
    = @artist.name


.info_artist.clearfix
  %img{:src => "http://placehold.it/200x200"}
  .bio
    %h2= @artist.name
    %p= @artist.bio
    %hr/ 
    .paintings.clearfix     
      %h3 Obra
      %ul 
        - @paintings.in_groups_of(6, false) do |painting|
          .list_of_paintings
            - painting.each do |p|
              %li
                %a.gallery{:href => "http://www.polerasjugosas.cl/images/fuck.gif"}  
                  %img{:src => "http://www.placehold.it/80x80", :alt => ""}/
                / %span 
    %hr/           






%h2 Cuadros

= render :partial => "paintings/list"

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path
