= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  - else
    %p{style: "margin-left: 80px"} Si quieres contribuir al este post, deja un comentario
  
  
  = hidden_field_tag 'comment[post_id]', @post.id
  
  %a#respond
  
  #new_comment_form
    .field
      = f.text_field :author_name
      = f.label :author_name, "Nombre"
    .field
      = f.text_field :author_email
      = f.label :author_email, "Email"
    .field
      = f.text_field :author_web
      = f.label :author_web, "Web"
    
    
    .field= f.text_area :body
    = f.submit 'Enviar'
    .actions

