= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  
  = hidden_field_tag 'comment[post_id]', @post.id
    
  .field
    = f.text_field :author_name
    = f.label :author_name
  .field
    = f.text_field :author_email
    = f.label :author_email
  .field
    = f.text_field :author_web
    = f.label :author_web
  .field
    = f.text_area :body
    = f.submit 'Save'
  .actions

