- content_for(:breadcrumbs) do
  %h1= @post.title
  %p 
    You are here: 
    = link_to "Home", root_path 
    >
    = link_to "Blog", posts_path
    >
    = link_to @post.title, @post
    >
    New Comment

#links
  = link_to 'Back', post_path(@post)

= render 'form'

