- content_for(:breadcrumbs) do
  %h1 Artistas
  %p
    You are here:
    = link_to "Admin", admin_path
    > Artistas

#links
  = link_to "New artist", new_admin_artist_path

%table
  %thead
    %th
    %th Name
    %th Paintings
    %th Web
    %th
  %tboby
    - @artists.each do |artist|
      %tr
        %td
          - if artist.photo
            = image_tag artist.photo.image.url(:thumb), width: 50
          - else
            = image_tag "http://www.placehold.it/80x80", width: 50
          
        %td= artist.name
        %td= artist.paintings.count
        %td= link_to artist.web, "http://#{artist.web}", target: "_blank"
        %td
          = link_to "Show", [:admin, artist]
          |
          = link_to "Edit", edit_admin_artist_path(artist)
          |
          = link_to 'Destroy', [:admin, artist], :method => :delete, :data => { :confirm => 'Are you sure?' }


