- content_for :breadcrumbs do
  %h1= @artist.name
  %p
    Estas aquí:
    = link_to "Home", admin_path
    >
    = link_to "Artists", admin_artists_path
    >
    = @artist.name

#links
  = link_to "Back", admin_artists_path
  |
  = link_to "Edit", edit_admin_artist_path(@artist)
  |
  = link_to "Paintings", admin_artist_paintings_path(@artist)

.info_artist.clearfix
  - if @artist.photo
    = image_tag @artist.photo.image.url(:medium)
  - else
    %img{:src => "http://placehold.it/200x200"}
  
  .bio
    %h2= @artist.name
    != RedCloth.new(@artist.bio).to_html
    
    %hr/
    .paintings.clearfix
      %h3 Obra
      - @paintings.in_groups_of(6, false) do |painting|
        .list_of_paintings
          - painting.each do |p|
            - next unless p.photo
            = link_to image_tag(p.photo.image(:thumb)), [:admin, @artist, p]
            %span= p.title
    %hr/ 
