%h1 Listing events

%table
  %tr
    %th Category
    %th Name
    %th Summary
    %th Start
    %th Stop
    %th Place
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.category
      %td= event.name
      %td= event.short_summary(50)
      %td= event.start
      %td= event.stop
      %td= event.place
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
