- content_for :breadcrumbs do
  %h1= @event.name
  %p 
    Estas aquí: 
    = link_to "Home", root_path 
    >
    = link_to "Events", events_path
    >
    = @event.name

.info_event.clearfix
  - if @event.photo
    .artist_avatar= image_tag @event.photo.image.url(:medium)
  - else
    %img{:src => "http://placehold.it/200x200"}
  
  .bio
    %h2= @event.name
    %p= @event.summary
    %hr/ 
    %h3 Fotos
    
    
    
    .photos
      - @photos.in_groups_of(4, false) do |photos|
        .photos_row.clearfix 
          - photos.each do |p|
            = link_to image_tag(p.image.url(:medium), width: "150px"), p.image.url(:large), class: "gallery"
    %hr/
