- content_for(:breadcrumbs) do
  %h1 Blog
  %p 
    You are here: 
    = link_to "Admin", admin_path 
    > Blog

#links
  = link_to 'New Post', new_admin_post_path


%table.posts
  %tr
    %th Title
    %th Date
    %th Body
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td.title= post.title
      %td.posted= post.posted_on
      %td!= RedCloth.new(post.short_body).to_html
      %td= link_to 'Show', admin_post_path(post)
      %td= link_to 'Edit', edit_admin_post_path(post)
      %td= link_to 'Destroy',[:admin, post], :method => :delete, :data => { :confirm => 'Are you sure?' }        
