%table
  %tr
    %th
    %th Title
    %th Technique
    %th Width
    %th Height
    %th Finished on
    %th Price
    %th
    %th
    %th

  - @paintings.each do |painting|
    %tr
      %td= image_tag(painting.photo.image.url(:thumb), width: 50) if painting.photo
      %td= painting.title
      %td= painting.technique
      %td= painting.width
      %td= painting.height
      %td= painting.finished_on
      %td= painting.price
      %td= link_to 'Show', [:admin, @artist, painting]
      %td= link_to 'Edit', edit_admin_artist_painting_path(@artist, painting)
      %td= link_to 'Destroy', [:admin, @artist, painting], :method => :delete, :data => { :confirm => 'Are you sure?' }