- content_for(:breadcrumbs) do
  %h1 Trayectoria
  %p 
    Estas aquí: 
    = link_to "Home", root_path 
    > Trayectoria

#sticky_anchor

#menu_trajectory
  = link_to("IAM 2009", "#content_2009", :class => "menu_trajectory")
  = link_to("IAM 2010", "#content_2010", :class => "menu_trajectory")
  = link_to("IAM 2011", "#content_2011", :class => "menu_trajectory")
  
:javascript
  var sticky_relocate;

  sticky_relocate = function() {
    var div_top, window_top;
    window_top = $(window).scrollTop();
    div_top = $("#sticky_anchor").offset().top;
    if (window_top > div_top) {
      return $("#menu_trajectory").addClass("stick");
    } else {
      return $("#menu_trajectory").removeClass("stick");
    }
  };

  $(function() {
    $(window).scroll(sticky_relocate);
    return sticky_relocate();
  });
    

#viewport
  #holder.clearfix    
    #content_2009.active
      #image
        = image_tag("static//carmendelaguerra.jpg")    	 

      %p 
        Durante los últimos meses hemos puesto en práctica la primera temporada de nuestro 
        %span Proyecto Ink And movement.

      %p 
        Según los datos recibidos de las propias galería, 
        %span más de 3.000 personas han visitado las diferentes muestras, 
        y gracias al impacto del proyecto en los medios, 
        %span Ink and Movement ha llegado a las casas de más de 1.000.000 de personas.

      %p 
        Nuestro 
        %span inicio del camino 
        lo tuvimos el pasado mes de Marzo en la ciudad de 
        %span New York, 
        cuna del arte urbano y referente internacional en lo que a la evolución de dicho arte se refiere. La galería que tiene en la Gran Manzana, 
        %spna Toy Tokio, 
        mítica marca japonesa dedicada al mundo de los Toys, 
        %span The Showroom 
        nos acogió. El recibimiento que tuvimos, tanto por crítica especializada como por parte del público asistente, fue muy positivo, y nos ofreció, sin lugar a dudas, la mejor forma posible de poner en práctica nuestro proyecto.    

      #image
        = image_tag("static//toytokio.jpg")   

      #image
        = image_tag("static//toy-tokio-nyc2.jpg")   

      #image
        = image_tag("static//toy-tokio-nyc3.jpg") 

      %p 
        La 
        %span siguiente parada 
        la tuvimos a principios de Mayo, en la 
        %span Galería de Carmen de la Guerra de Madrid, 
        donde entramos con fuerza y nos asentamos como uno de los referentes del arte más de vanguardia de la escena nacional.        


      #image
        = image_tag("static//carmendelagerra-madrid2.jpg")   

      #image
        = image_tag("static//carmendelaguerra-madrid3.jpg")

      %p 
        A finales de ese mismo mes de Mayo, hizimos una parada con la que no contábamos en un principio, dentro del plan de viaje de Iam, en el evento 
        %span Taste of Spain, 
        que la ciudad de 
        %span Londres 
        organiza cada año como muestra de la cultura española.


      #image
        = image_tag("static//portada6.jpg") 


      %p 
        De la mano de la 
        %span revista Babilon, 
        expusimos la obra gráfica de Iam sobre un cubo de grandes dimensiones que nos pusieron en mitad de la mítica calle londinense Regent street, al mismo tiempo que llevamos a cabo una decoración en directo de dicho cubo a cargo de los artistas Okuda y San.

      %p 
        Nuestra 
        %span siguiente muestra la hicimos 
        %span en París, 
        concretamente en la 
        %span galería L´issue, 
        en la que inauguramos el pasado 20 de Junio. A dos pasos del Pompidou, concretamente en el 38 de rue Quincampoix, San, Okuda y Nano4814 prepararron un un gran mural, que junto con las obras expuestas, fue del agrado del exigente público de la ciudad de las luces.  

      #image
        = image_tag("static//lc2b4issue.jpg")    


      %p 
        Como 
        %span última parada 
        en el camino de este 
        %span primer año de desarrollo de Ink and Movement, 
        inauguramos el pasado jueves 2 de Julio en la 
        %span Montana Shop and Gallery de Barcelona. 
        Que mejor final que en la casa de nuestro principal impulsor para haber empezado con Ink and Movement en 2009, que a su vez nos llevan haciendo sentir como la nuestra desde hace ya bastantes años.

      %p 
        El resultado de la exposición en la ciudad condal, no pudo ser mejor, y se convirtó en el   perfecto broche de oro para esta primera temporada. En palabras de los propios artistas, la   exposición de Barcelona en su conjunto ha sido la que mejor resultado visual ha ofrecido de   entre todas las ciudades visitadas. 

    #content_2010.hidden
      #image
        = image_tag("static//AIM104.jpg")

      %p 
        Durante el año 2010 se puso en marcha nuestro 
        %span blog y galería online. 
        Se trata de una fuente de consulta sobre nuestras actividades y de acceso a la obra de los artistas que se actualiza regularmente, pues nos permite estar en comunicación con públicos pasados y futuros, habiendo obtenido multitud de visitas y reseñas en medios especializados del sector.

      %p 
        Paralelamente, la presencia física de 
        %span Ink and Movement 
        se concretó a partir del mes de marzo con una cita mensual en el 
        %span Espacio Espora 
        de Madrid, que acogió muestras de artistas de la talla de 
        %span Sozyone y Dems, Spok o Rosh, 
        entre otros.

      %p 
        Asimismo, a lo largo del año comenzamos a trabajar en un nuevo tipo de exposiciones individuales con artistas como 
        %span 3ttman, Remed o Paloma Rincón.

      #image
        = image_tag("static//IAM1011.jpg")

      %p 
        Nuestra expansión internacional vivió un nuevo episodio en Berlín, donde desembarcamos a lo largo del mes de agosto de la mano del Ministerio de Cultura, Gobierno de España, con una muestra conjunta de 
        %span SatOne, Spok y Okuda.

      %p 
        La inauguración tuvo lugar el día 5 de agosto y contó con la presencia de la agregada cultural de la embajada española en la capital alemana, Gloria Mínguez.

      %p 
        Evento que estuvo amenizando musicalmente por Pablo 
        %span (Belio Magazine) Javier Sheism, y en el que los artistas nos deleitaron tanto con su obra expuesta como con un live painting.

      %p 
        A lo largo del mes que estuvo activa la muestra, pasaron por el espacio una media de 30 visitantes diarios, lo que nos da una cifra de alrededor de 1000 visitas totales.  

      #image
        = image_tag("static//IAM1021.jpg")   

    #content_2011.hidden
      #image
        = image_tag("static//IAM1102.jpg")

      %p 
        El año comenzó con una restrospectiva de la trayectoria de 
        %span IAM 
        hasta entonces a cargo de tres de nuestros artistas más representativos 
        %span -Okuda, Spok y Rosh- 
        en la por entonces recientemente inaugurada 
        %span Montana Shop de Madrid, 
        haciendo evidente de esta manera los lazos que nos unen con nuestra hermana marca barcelonesa.

      %p 
        El evento contó con la participación de los tres artistas mencionados y el ambiente sonoro propiciado desde la mesa de mezclas por 
        %span Mushikko. 
        De los bailes se encargaron los figuras de 
        %span Madrid Kingz Flava.

      %p 
        Por las mismas fechas 
        %span Zosen, de quien todavía tenemos pendiente una expo, se sumaba con sus obras a nuestra familia, mientras 
        %span 3ttman 
        hacía una 
        %span aparición estelar 
        en el diario El País.  

      #image
        = image_tag("static//IAM1103.jpg")

      %p 
        Por otro lado, nuestras siguientes expos tuvieron dos protagonistas muy diferentes: por un lado Jeosm, uno de los mejores retratistas de nuestra escena hip hop; y por el otro los valencianos D.O.C.S., con quienes estrenamos nuestra residencia en la tienda 
        %span Monkey Garden 
        de la calle Barco, en pleno corazón del barrio Tribal (Malasaña).

      %p 
        A largo del verano, contando el mes de octubre dadas las temperaturas que aún sufríamos por entonces, fue el turno para 
        %span Yohei, 
        por un lado, la sevillana 
        %span Lahe 
        por el otro y los muy argentinos y hermanos 
        %span Bertone, 
        sin duda unos verdaderos cracks.

      %p 
        El frío llegó con 
        %span Andi Rivas, 
        hasta la fecha nuestro último artista en exponer fuera de nuestro nuevo hogar… pero eso es adelantarse a una historia que todavía no debe ser contada. Quedémonos mientras tanto con que muchos de nuestros artistas estuvieron viajando y exponiendo por el mundo -3ttman en Vietnam; 
        %span Okuda 
        en Mali, Dubai o India- mientras otros, como 
        %span Rosh, 
        exploraban nuevas vías de expresión.  

      #video
        <iframe src="http://player.vimeo.com/video/26733133" width="600" height="399" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>             
  
  
  
  .clearfix
  
  
  