- content_for(:breadcrumbs) do
  %h1 Expositions
  %p 
    You are here: 
    = link_to "Home", root_path 
    > Expositions

.info_exposition.clearfix
  - if @exposition.photo
    = image_tag @exposition.photo.image.url(:thumb300), width: 200 if @exposition.photo
  - else
    %img{:src => "http://placehold.it/200x200"}
  
  .bio
    %h2= @exposition.name
    %p= @exposition.summary
    %hr/ 
    .expositions.clearfix     
      %h3 Obra
      %ul 
        - @photos.in_groups_of(6, false) do |photos|
          .list_of_photos
            - photos.each do |p|
              - next unless p.photo
              %li
                %a.gallery{:href => p.photo.image.url(:large)}  
                  = image_tag p.photo.image.url(:thumb100)
                / %span 
    %hr/           


= link_to 'Edit', edit_artist_path(@exposition)
\|
= link_to 'Back', artists_path