#menu
  %ul.clearfix
    %li= link_to "ARTISTS", admin_artists_path
    
    %li
      = link_to("EVENTS", admin_events_path)
      %ul
        %li
          = link_to("Exposiciones", admin_expositions_path)
        %li
          = link_to("Pop-up", admin_popups_path)
    %li= link_to "POSTS", admin_posts_path      