!!!
%html
  %head
    %title Iam
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans"
    = stylesheet_link_tag "admin"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #body_wrapper
      #header
        .content
          #logo= link_to image_tag("logo.png"), admin_path

          #search{:class => "fr"}
            %form{:action => "#"}
              %input{:type => "text", :id => "find", :name => "find", :placeholder => "search site"}
              %input{:type => "submit", :id => "send", :name =>"send"}  
          

          #menu
            %ul.clearfix
              %li= link_to "ARTISTS", admin_artists_path
              %li= link_to("EVENTS", admin_events_path)
              %li= link_to "POSTS", admin_posts_path

      
      - if alert
        .flash.ui-state-error.ui-corner-all
          .flash_content      
            %span{:class => "ui-icon ui-icon-alert"}
            = flash[:alert]
      
      - if notice
        .flash.ui-state-highlight.ui-corner-all
          .flash_content      
            %span{:class => "ui-icon ui-icon-info"}
            = flash[:notice]
            
      #breadcrumb
        .content
          
          = yield(:breadcrumbs)

            
      #main_content.clearfix
        .container
          = yield
      
      #footer_push
      
    / #footer
    /   #footer_links
    /     &copy; iam Gallery Madrid - 
    /     = link_to "Aviso Legal", legal_path
