!!!
%html
  %head
    %title Iam
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Open+Sans"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #body_wrapper
      #header
        .content
          #logo
            = link_to image_tag("logo.png"), root_path

          #search{:class => "fr"}
            %form{:action => "#"}
              %input{:type => "text", :id => "find", :name => "find", :placeholder => "search site"}
              %input{:type => "submit", :id => "send", :name =>"send"}  
          
          #menu
            %ul.clearfix
              %li
                %a{:href => '#'} EL ESPACIO
              %li
                %a{:href => root_path} IAM 
                %ul
                  %li
                    =link_to("MANIFESTO", manifesto_path) 
                  %li
                    =link_to("TRAYECTORÍA", trajectory_path)     
              %li 
                %a(href='#') EXPOSICIONES 
              
              %li
                %a(href='#') ACTIVIDADES 
              
              %li 
                %a(href='#') BLOG
              
              %li 
                %a(href='#') SHOP
              
              %li.last
                %a(href='#') CONTACTO

      #breadcrumb
        .content
          = yield(:breadcrumbs)

 
      #main_content.clearfix
        .container
          = yield
      
      #footer_push
      
    #footer
      #footer_links
        © iam Gallery Madrid - = link_to "Aviso Legal", legal_path